
:LABEL1: Calculations in /home/aiida/testrun/case
:LABEL2: on f7a58a7a989f at Sun Sep  3 07:27:39 UTC 2023
:LABEL3: using WIEN2k_23.2 (Release 9/3/2022) in /home/aiida/src/WIEN2k

:LABEL4: using the command: run_lapw -i 100 -cc 0.01 -ec 0.01

