
:LABEL1: Calculations in /home/aiida/testrun/case
:LABEL2: on 71190d454cb1 at Sun Sep  3 07:00:59 UTC 2023
:LABEL3: using WIEN2k_23.2 (Release 9/3/2022) in /home/aiida/src/WIEN2k

:LABEL4: using the command: run_lapw -i 100 -cc 0.01 -ec 0.01

 Euler-Maclaurian Coulomb
 Consistent 3/8+Simpson combinations at start/end
 New Mode for Coulomb Integral
 Extension of core to zero
 LDM version in phi
 Fifth-order quadrature in outwin
 Lebedev-Laikov Grid in lapw0


            ---------
:ITE007:  7. ITERATION
            ---------

:NATO :    1 INDEPENDENT AND    2 TOTAL ATOMS IN UNITCELL
       SUBSTANCE: ASE generated                                               

       LATTICE                      = F   
:LAT  : LATTICE CONSTANTS= 10.33471 10.33471 10.33471    1.571    1.571    1.571
:VOL  : UNIT CELL VOLUME =     275.95253
:POT  : POTENTIAL OPTION EX_PBE EC_PBE VX_PBE VC_PBE
       MODE OF CALCULATION IS       = RELA
       NON-SPINPOLARIZED CALCULATION
:IFFT  : FFT-parameters:  216  216  216 Factor: 3.00


   CONVERGENCE PARAMETER FOR PSEUDOCHARGE: NCON=  9
   MAXIMAL VALUE OF RMT(JATOM)*ABSK(NKK) : RK  =34.54527


:VKCOUL :  VK-COUL convergence: 0.125E-07
 Lebedev grid of          350
 :rho_min:   2.0000000000000000E-008   1.0000000000000001E-009
:VCOUL001 ATOMNUMBER=  1 Si1     VCOUL-ZERO =  0.16642E+00
:FIT001: LUSE= 13 SIGMA OF V-XC FIT FOR ATOM  1  0.3789472E-02
:FIT001: LUSE= 13 SIGMA OF V-XC FIT FOR ATOM  1  0.3789472E-02
:DEN  : DENSITY INTEGRAL  =          -526.60746047   (Ry)
       ELS_POTENTIAL_AT Z=0 and Z=0.5:   0.43246   0.43246
       ELS_POTENTIAL_AT Y=0 and Y=0.5:   0.00000   0.00000
:VZERO:v0,v0c,v0x  -0.23357   0.43246  -0.66603 v5,v5c,v5x  -0.23357   0.43246  -0.66603
:VZERY:v0,v0c,v0x  -0.65136   0.00000  -0.65136 v5,v5c,v5x  -0.65136   0.00000  -0.65136
:VZERX:v0,v0c,v0x  -0.65136   0.00000  -0.65136 v5,v5c,v5x  -0.65136   0.00000  -0.65136
:LMAX-WF:   10   Non-Spherical LMAX:   6

          ATOMIC SPHERE DEPENDENT PARAMETERS FOR ATOM  Si1       
:e__0001: OVERALL ENERGY PARAMETER IS    0.1830
          OVERALL BASIS SET ON ATOM IS LAPW
:E0_0001: E( 0)=    0.1830
             APW+lo
:E0_0001: E( 0)=    0.1830
             LOCAL ORBITAL(SECDER)
:E1_0001: E( 1)=    0.1830
             APW+lo
:E1_0001: E( 1)=    0.1830
             LOCAL ORBITAL(SECDER)

       K=  0.000000  0.000000  0.000000            1
:RKM  : MATRIX SIZE   347LOs:  16  RKM= 8.71  WEIGHT= 1.00  PGR:    
       EIGENVALUES ARE:
:EIG00001:      -0.4807004    0.3918919    0.3918919    0.3918919    0.5707395
:EIG00006:       0.5707395    0.5707395    0.6224947    0.9486689    0.9486689
:EIG00011:       0.9713871    1.2023405    1.2023405    1.2023405    1.5170213
       ********************************************************

:KPT   :      NUMBER OF K-POINTS:     3
       Insulator, EF-inconsistency corrected
:GAP (global)   :  0.047456 Ry =     0.646 eV (accurate value if proper k-mesh)
         Bandranges (emin - emax) and occupancy:
:BAN00001:   1   -0.480700   -0.180227  2.00000000
:BAN00002:   2   -0.180227    0.391892  2.00000000
:BAN00003:   3    0.181684    0.391892  2.00000000
:BAN00004:   4    0.181684    0.391892  2.00000000
:BAN00005:   5    0.439348    0.570740  0.00000000
:BAN00006:   6    0.439348    0.628274  0.00000000
:BAN00007:   7    0.570740    1.117236  0.00000000
:BAN00008:   8    0.622495    1.117236  0.00000000
:BAN00009:   9    0.948669    1.192033  0.00000000
        Energy to separate low and high energystates: -999.00000


:NOE  : NUMBER OF ELECTRONS          =    8.000

:FER  : F E R M I - ENERGY(TETRAH.M.)=   0.3918918871
:GMA  : POTENTIAL AND CHARGE CUT-OFF  20.00 Ry**.5

:POS001: ATOM    1 X,Y,Z = 0.87500 0.37500 0.37500  MULT= 2  ZZ= 14.000  Si1       

       LMMAX  6
       LM=   0 0  4 0  4 4  6 0  6 4 -3 2

:CHA001: TOTAL VALENCE CHARGE INSIDE SPHERE   1 =   2.2235    (RMT=  2.1600 )
:PCS001: PARTIAL CHARGES SPHERE =  1 S,P,D,F,      D-EG,D-T2G 
:QTL001: 0.7945 1.3324 0.0873 0.0078 0.0000 0.0000 0.0000 0.0069 0.0804 0.0000 0.0000 0.0000
        Q-s-low E-s-low   Q-p-low E-p-low   Q-d-low E-d-low   Q-f-low E-f-low
:EPL001:  0.0000 10.0000    0.0000 10.0000    0.0000 10.0000    0.0000 10.0000
        Q-s-hi  E-s-hi    Q-p-hi  E-p-hi    Q-d-hi  E-d-hi    Q-f-hi  E-f-hi 
:EPH001:  0.7945 -0.2406    1.3324  0.2040    0.0873  0.2325    0.0078  0.1201

:CHA  : TOTAL VALENCE CHARGE INSIDE UNIT CELL =       8.000000

:SUM  : SUM OF EIGENVALUES =           0.352046328


        1.ATOM      Si1                   4 CORE STATES
:1S 001: 1S                -130.409590677 Ry
:2S 001: 2S                  -9.427867921 Ry
:2PP001: 2P*                 -6.227824084 Ry
:2P 001: 2P                  -6.180355532 Ry
:CINT001 Core Integral Atom   1    9.99831348

       DENSITY AT NUCLEUS
        JATOM        VALENCE       SEMI-CORE          CORE           TOTAL
:RTO001:   1        6.403546        0.000000     1886.240832     1892.644378
 :WARNING: K-list has changed
 :K-LIST:Reduced k-vector list          996          99
     
       CHARGES OF NEW CHARGE DENSITY
:NTO   : INTERSTITIAL CHARGE  =     3.552909
:NPC   : INTERSTITIAL CHARGE  =     4.904083
:NTO001: CHARGE SPHERE   1    =    12.221859

:NEC01: NUCLEAR AND ELECTRONIC CHARGE     28.00000    27.99663
     
       CHARGES OF OLD CHARGE DENSITY
:OTO   : INTERSTITIAL CHARGE  =     3.560224
:OPC   : INTERSTITIAL CHARGE  =     4.931542
:OTO001: CHARGE SPHERE   1    =    12.219888

:NEC02: NUCLEAR AND ELECTRONIC CHARGE     28.00000    28.00000000
     
       CONVERGENCE TEST
:DTO001: DIFFERENCE IN SPHERE  1 =  0.0028722

:DIS  :  CHARGE DISTANCE      (  0.0028722 for atom    1 spin 1)      0.0028722
 
******************************************************
* Multisecant Mixing Release 10.8.4                  *
* Standard Mode with step bound                      *
* Multisecant MSR1 Algorithm                         *
* Regularization       2.000E-04                     *
* Minimum Greed        1.000E-03                     *
* Max Number of Memory Steps    8                    *
******************************************************
 

:FULLRMS/Atom   0.0544320617
:PLANE:  PW /ATOM     2.28560 DISTAN   7.68E-02 %  3.36E+00
:CHARG:  CLM/ATOM   115.36922 DISTAN   5.78E-03 %  5.01E-03

Step History
        Dmix         Dmixt        Red     Pred      Step      Lambda    MagAbs    Beta
  1   3.5000E-01   3.5000E-01  1.00E+00  1.00E+00  1.25E-01  1.00E+00  2.69E-03  1.00E+00
:NOTE :  :INFO: Pratt in use
:TRUST:  Step  1.2E-01 Charge  3.3E-02 (e) CTO  2.0E-01 (e) PW  2.0E-01 (e)
:DIRP : |PRAT|= 2.687E-03 |PRATT|= 7.676E-02 ANGLE=   0.0 DEGREES
:DIRQ : |PRAT|= 2.022E-04 |PRATT|= 5.778E-03 ANGLE=   0.0 DEGREES
:DIRT : |PRAT|= 2.694E-03 |PRATT|= 7.698E-02 ANGLE=   0.0 DEGREES
:MIX  :   PRATT  REGULARIZATION:  2.00E-04 GREED: 0.03500                 
     
       CHARGES OF MIXED CHARGE DENSITY
:CTO   : INTERSTITIAL CHARGE  =     3.560086
:CPC   : INTERSTITIAL CHARGE  =     4.930744
:CTO001: CHARGE SPHERE   1    =    12.219957

:NEC03: NUCLEAR AND ELECTRONIC CHARGE     28.00000    28.00000000

PW CHANGE     H    K    L      Current       Change    Residue
:PTO001:      0    0    0  3.07691704E-02 -3.392E-06 -9.692E-05
:PTO002:     -1   -1   -1 -6.38358391E-02  2.271E-05  6.487E-04
:PTO004:      0   -2   -2 -9.35698280E-03  6.025E-05  1.721E-03
:PTO005:     -1   -1   -3  1.94797581E-02  9.434E-05  2.696E-03
:PTO006:     -2   -2   -2  1.27170123E-02  1.037E-05  2.963E-04
:PTO007:      0    0   -4  5.02939020E-03  2.856E-05  8.161E-04
:PTO008:     -1   -3   -3  1.50642946E-03 -5.594E-05 -1.598E-03
:PTO010:     -2   -2   -4 -5.12504325E-03 -9.318E-05 -2.662E-03
:PTO011:     -3   -3   -3 -2.10176235E-03 -3.071E-05 -8.774E-04
:PTO012:     -1   -1   -5 -3.38621646E-03 -5.598E-05 -1.599E-03
:PTO013:      0   -4   -4 -6.16190524E-04 -3.133E-05 -8.951E-04
:PTO014:     -1   -3   -5 -2.34328335E-03 -1.012E-04 -2.892E-03

:ENE  : *WARNING** TOTAL ENERGY IN Ry =        -1159.95938913

 Euler-Maclaurian Coulomb
 Consistent 3/8+Simpson combinations at start/end
 New Mode for Coulomb Integral
 Extension of core to zero
 LDM version in phi
 Fifth-order quadrature in outwin
 Lebedev-Laikov Grid in lapw0


            ---------
:ITE008:  8. ITERATION
            ---------

:NATO :    1 INDEPENDENT AND    2 TOTAL ATOMS IN UNITCELL
       SUBSTANCE: ASE generated                                               

       LATTICE                      = F   
:LAT  : LATTICE CONSTANTS= 10.33471 10.33471 10.33471    1.571    1.571    1.571
:VOL  : UNIT CELL VOLUME =     275.95253
:POT  : POTENTIAL OPTION EX_PBE EC_PBE VX_PBE VC_PBE
       MODE OF CALCULATION IS       = RELA
       NON-SPINPOLARIZED CALCULATION
:IFFT  : FFT-parameters:  216  216  216 Factor: 3.00


   CONVERGENCE PARAMETER FOR PSEUDOCHARGE: NCON=  9
   MAXIMAL VALUE OF RMT(JATOM)*ABSK(NKK) : RK  =43.15661


:VKCOUL :  VK-COUL convergence: 0.668E-09
 Lebedev grid of          350
 :rho_min:   2.0000000000000000E-008   1.0000000000000001E-009
:VCOUL001 ATOMNUMBER=  1 Si1     VCOUL-ZERO =  0.16645E+00
:FIT001: LUSE= 13 SIGMA OF V-XC FIT FOR ATOM  1  0.3774259E-02
:FIT001: LUSE= 13 SIGMA OF V-XC FIT FOR ATOM  1  0.3774259E-02
:DEN  : DENSITY INTEGRAL  =          -526.61047565   (Ry)
       ELS_POTENTIAL_AT Z=0 and Z=0.5:   0.43253   0.43253
       ELS_POTENTIAL_AT Y=0 and Y=0.5:   0.00000   0.00000
:VZERO:v0,v0c,v0x  -0.23356   0.43253  -0.66609 v5,v5c,v5x  -0.23356   0.43253  -0.66609
:VZERY:v0,v0c,v0x  -0.65133   0.00000  -0.65133 v5,v5c,v5x  -0.65133   0.00000  -0.65133
:VZERX:v0,v0c,v0x  -0.65133   0.00000  -0.65133 v5,v5c,v5x  -0.65133   0.00000  -0.65133
:LMAX-WF:   10   Non-Spherical LMAX:   6

          ATOMIC SPHERE DEPENDENT PARAMETERS FOR ATOM  Si1       
:e__0001: OVERALL ENERGY PARAMETER IS    0.1889
          OVERALL BASIS SET ON ATOM IS LAPW
:E0_0001: E( 0)=    0.1889
             APW+lo
:E0_0001: E( 0)=    0.1889
             LOCAL ORBITAL(SECDER)
:E1_0001: E( 1)=    0.1889
             APW+lo
:E1_0001: E( 1)=    0.1889
             LOCAL ORBITAL(SECDER)

       K=  0.000000  0.000000  0.000000            1
:RKM  : MATRIX SIZE   347LOs:  16  RKM= 8.71  WEIGHT= 1.00  PGR:    
       EIGENVALUES ARE:
:EIG00001:      -0.4806414    0.3919518    0.3919518    0.3919518    0.5707988
:EIG00006:       0.5707988    0.5707988    0.6225646    0.9487133    0.9487133
:EIG00011:       0.9714456    1.2023935    1.2023935    1.2023935    1.5170764
       ********************************************************

:KPT   :      NUMBER OF K-POINTS:     3
       Insulator, EF-inconsistency corrected
:GAP (global)   :  0.047452 Ry =     0.646 eV (accurate value if proper k-mesh)
         Bandranges (emin - emax) and occupancy:
:BAN00001:   1   -0.480641   -0.180167  2.00000000
:BAN00002:   2   -0.180167    0.391952  2.00000000
:BAN00003:   3    0.181742    0.391952  2.00000000
:BAN00004:   4    0.181742    0.391952  2.00000000
:BAN00005:   5    0.439404    0.570799  0.00000000
:BAN00006:   6    0.439404    0.628329  0.00000000
:BAN00007:   7    0.570799    1.117303  0.00000000
:BAN00008:   8    0.622565    1.117303  0.00000000
:BAN00009:   9    0.948713    1.192076  0.00000000
        Energy to separate low and high energystates: -999.00000


:NOE  : NUMBER OF ELECTRONS          =    8.000

:FER  : F E R M I - ENERGY(TETRAH.M.)=   0.3919518427
:GMA  : POTENTIAL AND CHARGE CUT-OFF  20.00 Ry**.5

:POS001: ATOM    1 X,Y,Z = 0.87500 0.37500 0.37500  MULT= 2  ZZ= 14.000  Si1       

       LMMAX  6
       LM=   0 0  4 0  4 4  6 0  6 4 -3 2

:CHA001: TOTAL VALENCE CHARGE INSIDE SPHERE   1 =   2.2235    (RMT=  2.1600 )
:PCS001: PARTIAL CHARGES SPHERE =  1 S,P,D,F,      D-EG,D-T2G 
:QTL001: 0.7944 1.3324 0.0873 0.0078 0.0000 0.0000 0.0000 0.0069 0.0804 0.0000 0.0000 0.0000
        Q-s-low E-s-low   Q-p-low E-p-low   Q-d-low E-d-low   Q-f-low E-f-low
:EPL001:  0.0000 10.0000    0.0000 10.0000    0.0000 10.0000    0.0000 10.0000
        Q-s-hi  E-s-hi    Q-p-hi  E-p-hi    Q-d-hi  E-d-hi    Q-f-hi  E-f-hi 
:EPH001:  0.7944 -0.2405    1.3324  0.2041    0.0873  0.2326    0.0078  0.1202

:CHA  : TOTAL VALENCE CHARGE INSIDE UNIT CELL =       8.000000

:SUM  : SUM OF EIGENVALUES =           0.352521862


        1.ATOM      Si1                   4 CORE STATES
:1S 001: 1S                -130.409431940 Ry
:2S 001: 2S                  -9.427750776 Ry
:2PP001: 2P*                 -6.227704294 Ry
:2P 001: 2P                  -6.180235916 Ry
:CINT001 Core Integral Atom   1    9.99831342

       DENSITY AT NUCLEUS
        JATOM        VALENCE       SEMI-CORE          CORE           TOTAL
:RTO001:   1        6.403462        0.000000     1886.240415     1892.643878
 :K-LIST:Reduced k-vector list          996          99
     
       CHARGES OF NEW CHARGE DENSITY
:NTO   : INTERSTITIAL CHARGE  =     3.552944
:NPC   : INTERSTITIAL CHARGE  =     4.904013
:NTO001: CHARGE SPHERE   1    =    12.221842

:NEC01: NUCLEAR AND ELECTRONIC CHARGE     28.00000    27.99663
     
       CHARGES OF OLD CHARGE DENSITY
:OTO   : INTERSTITIAL CHARGE  =     3.560086
:OPC   : INTERSTITIAL CHARGE  =     4.930744
:OTO001: CHARGE SPHERE   1    =    12.219957

:NEC02: NUCLEAR AND ELECTRONIC CHARGE     28.00000    28.00000000
     
       CONVERGENCE TEST
:DTO001: DIFFERENCE IN SPHERE  1 =  0.0027289

:DIS  :  CHARGE DISTANCE      (  0.0027289 for atom    1 spin 1)      0.0027289
 
******************************************************
* Multisecant Mixing Release 10.8.4                  *
* Standard Mode with step bound                      *
* Multisecant MSR1 Algorithm                         *
* Regularization       2.000E-04                     *
* Minimum Greed        1.000E-03                     *
* Max Number of Memory Steps    8                    *
******************************************************
 

:FULLRMS/Atom   0.0525521626
:PLANE:  PW /ATOM     2.28533 DISTAN   7.41E-02 %  3.24E+00
:CHARG:  CLM/ATOM   115.36932 DISTAN   5.54E-03 %  4.80E-03

Step History
        Dmix         Dmixt        Red     Pred      Step      Lambda    MagAbs    Beta
  1   3.5000E-01   3.5000E-01  1.00E+00  1.00E+00  1.25E-01  1.00E+00  2.69E-03  1.00E+00
  2   3.5000E-02   3.5000E-02  1.00E+00  1.00E+00  1.25E-01  1.00E+00  2.69E-03  1.00E+00
:NOTE :  Number of Memory Steps    1 Skipping    0

:PREDicted Charge, CTotal, PW Trust   8.08E-04   1.62E-03   5.35E-03
:PREDicted DMix, Beta, BLim           2.04E-01   1.00E+00   2.04E-01

Eigenvalues, unscaled except for SY+YY with Slambda=   1.00000 Ylambda=   1.00000
   #     SY Real       SY Imag         SS            YY        SY+YY Real     SY+YY Imag
   1   5.02991E-01   0.00000E+00   5.09728E-01   4.97009E-01   1.00000E+00   0.00000E+00

:TRUST:  Step  1.4E-01 Charge  8.2E-03 (e) CTO  5.0E-02 (e) PW  1.0E-01 (e)
:DTRUS:  Lambda   6.124E+00 Increment   3.642E-14 Iterations    55 DMIX   2.858E-02
:DIRM :  MEMORY  1/8  RED  0.97 PRED  1.00 NEXT  0.86
:NOTE :  Limited by Atoms F by Step T

:DIRP : |MSR1|= 1.053E-02 |PRATT|= 7.411E-02 ANGLE=   0.1 DEGREES
:DIRQ : |MSR1|= 7.638E-04 |PRATT|= 5.540E-03 ANGLE=   4.3 DEGREES
:DIRT : |MSR1|= 1.056E-02 |PRATT|= 7.432E-02 ANGLE=   0.4 DEGREES
:MIX  :   MSD1   REGULARIZATION:  2.00E-04 GREED: 0.20358  LMStep 0.14  0.1421 Step           
     
       CHARGES OF MIXED CHARGE DENSITY
:CTO   : INTERSTITIAL CHARGE  =     3.559576
:CPC   : INTERSTITIAL CHARGE  =     4.927566
:CTO001: CHARGE SPHERE   1    =    12.220212

:NEC03: NUCLEAR AND ELECTRONIC CHARGE     28.00000    28.00000000

PW CHANGE     H    K    L      Current       Change    Residue
:PTO001:      0    0    0  3.07558044E-02 -1.337E-05 -9.366E-05
:PTO002:     -1   -1   -1 -6.37459347E-02  8.990E-05  6.274E-04
:PTO004:      0   -2   -2 -9.12003120E-03  2.370E-04  1.663E-03
:PTO005:     -1   -1   -3  1.98494987E-02  3.697E-04  2.602E-03
:PTO006:     -2   -2   -2  1.27574080E-02  4.040E-05  2.857E-04
:PTO007:      0    0   -4  5.14110081E-03  1.117E-04  7.876E-04
:PTO008:     -1   -3   -3  1.28702258E-03 -2.194E-04 -1.543E-03
:PTO010:     -2   -2   -4 -5.49019629E-03 -3.652E-04 -2.570E-03
:PTO011:     -3   -3   -3 -2.22191655E-03 -1.202E-04 -8.469E-04
:PTO012:     -1   -1   -5 -3.60568073E-03 -2.195E-04 -1.544E-03
:PTO013:      0   -4   -4 -7.39020608E-04 -1.228E-04 -8.642E-04
:PTO014:     -1   -3   -5 -2.73967608E-03 -3.964E-04 -2.792E-03

:ENE  : ********** TOTAL ENERGY IN Ry =        -1159.95938916

 Euler-Maclaurian Coulomb
 Consistent 3/8+Simpson combinations at start/end
 New Mode for Coulomb Integral
 Extension of core to zero
 LDM version in phi
 Fifth-order quadrature in outwin
 Lebedev-Laikov Grid in lapw0


            ---------
:ITE009:  9. ITERATION
            ---------

:NATO :    1 INDEPENDENT AND    2 TOTAL ATOMS IN UNITCELL
       SUBSTANCE: ASE generated                                               

       LATTICE                      = F   
:LAT  : LATTICE CONSTANTS= 10.33471 10.33471 10.33471    1.571    1.571    1.571
:VOL  : UNIT CELL VOLUME =     275.95253
:POT  : POTENTIAL OPTION EX_PBE EC_PBE VX_PBE VC_PBE
       MODE OF CALCULATION IS       = RELA
       NON-SPINPOLARIZED CALCULATION
:IFFT  : FFT-parameters:  216  216  216 Factor: 3.00


   CONVERGENCE PARAMETER FOR PSEUDOCHARGE: NCON=  9
   MAXIMAL VALUE OF RMT(JATOM)*ABSK(NKK) : RK  =43.15661


:VKCOUL :  VK-COUL convergence: 0.645E-09
 Lebedev grid of          350
 :rho_min:   2.0000000000000000E-008   1.0000000000000001E-009
:VCOUL001 ATOMNUMBER=  1 Si1     VCOUL-ZERO =  0.16658E+00
:FIT001: LUSE= 13 SIGMA OF V-XC FIT FOR ATOM  1  0.3714624E-02
:FIT001: LUSE= 13 SIGMA OF V-XC FIT FOR ATOM  1  0.3714624E-02
:DEN  : DENSITY INTEGRAL  =          -526.62156317   (Ry)
       ELS_POTENTIAL_AT Z=0 and Z=0.5:   0.43281   0.43281
       ELS_POTENTIAL_AT Y=0 and Y=0.5:   0.00000   0.00000
:VZERO:v0,v0c,v0x  -0.23353   0.43281  -0.66634 v5,v5c,v5x  -0.23353   0.43281  -0.66634
:VZERY:v0,v0c,v0x  -0.65125   0.00000  -0.65125 v5,v5c,v5x  -0.65125   0.00000  -0.65125
:VZERX:v0,v0c,v0x  -0.65125   0.00000  -0.65125 v5,v5c,v5x  -0.65125   0.00000  -0.65125
:LMAX-WF:   10   Non-Spherical LMAX:   6

          ATOMIC SPHERE DEPENDENT PARAMETERS FOR ATOM  Si1       
:e__0001: OVERALL ENERGY PARAMETER IS    0.1909
          OVERALL BASIS SET ON ATOM IS LAPW
:E0_0001: E( 0)=    0.1909
             APW+lo
:E0_0001: E( 0)=    0.1909
             LOCAL ORBITAL(SECDER)
:E1_0001: E( 1)=    0.1909
             APW+lo
:E1_0001: E( 1)=    0.1909
             LOCAL ORBITAL(SECDER)

       K=  0.000000  0.000000  0.000000            1
:RKM  : MATRIX SIZE   347LOs:  16  RKM= 8.71  WEIGHT= 1.00  PGR:    
       EIGENVALUES ARE:
:EIG00001:      -0.4804149    0.3921800    0.3921800    0.3921800    0.5710281
:EIG00006:       0.5710281    0.5710281    0.6228318    0.9489035    0.9489035
:EIG00011:       0.9716730    1.2026133    1.2026133    1.2026133    1.5172929
       ********************************************************

:KPT   :      NUMBER OF K-POINTS:     3
       Insulator, EF-inconsistency corrected
:GAP (global)   :  0.047441 Ry =     0.645 eV (accurate value if proper k-mesh)
         Bandranges (emin - emax) and occupancy:
:BAN00001:   1   -0.480415   -0.179934  2.00000000
:BAN00002:   2   -0.179934    0.392180  2.00000000
:BAN00003:   3    0.181964    0.392180  2.00000000
:BAN00004:   4    0.181964    0.392180  2.00000000
:BAN00005:   5    0.439621    0.571028  0.00000000
:BAN00006:   6    0.439621    0.628546  0.00000000
:BAN00007:   7    0.571028    1.117572  0.00000000
:BAN00008:   8    0.622832    1.117572  0.00000000
:BAN00009:   9    0.948903    1.192289  0.00000000
        Energy to separate low and high energystates: -999.00000


:NOE  : NUMBER OF ELECTRONS          =    8.000

:FER  : F E R M I - ENERGY(TETRAH.M.)=   0.3921799567
:GMA  : POTENTIAL AND CHARGE CUT-OFF  20.00 Ry**.5

:POS001: ATOM    1 X,Y,Z = 0.87500 0.37500 0.37500  MULT= 2  ZZ= 14.000  Si1       

       LMMAX  6
       LM=   0 0  4 0  4 4  6 0  6 4 -3 2

:CHA001: TOTAL VALENCE CHARGE INSIDE SPHERE   1 =   2.2235    (RMT=  2.1600 )
:PCS001: PARTIAL CHARGES SPHERE =  1 S,P,D,F,      D-EG,D-T2G 
:QTL001: 0.7944 1.3324 0.0873 0.0078 0.0000 0.0000 0.0000 0.0069 0.0804 0.0000 0.0000 0.0000
        Q-s-low E-s-low   Q-p-low E-p-low   Q-d-low E-d-low   Q-f-low E-f-low
:EPL001:  0.0000 10.0000    0.0000 10.0000    0.0000 10.0000    0.0000 10.0000
        Q-s-hi  E-s-hi    Q-p-hi  E-p-hi    Q-d-hi  E-d-hi    Q-f-hi  E-f-hi 
:EPH001:  0.7944 -0.2403    1.3324  0.2043    0.0873  0.2328    0.0078  0.1203

:CHA  : TOTAL VALENCE CHARGE INSIDE UNIT CELL =       8.000000

:SUM  : SUM OF EIGENVALUES =           0.354340847


        1.ATOM      Si1                   4 CORE STATES
:1S 001: 1S                -130.408866242 Ry
:2S 001: 2S                  -9.427318859 Ry
:2PP001: 2P*                 -6.227264166 Ry
:2P 001: 2P                  -6.179796370 Ry
:CINT001 Core Integral Atom   1    9.99831320

       DENSITY AT NUCLEUS
        JATOM        VALENCE       SEMI-CORE          CORE           TOTAL
:RTO001:   1        6.403169        0.000000     1886.239020     1892.642189
 :K-LIST:Reduced k-vector list          996          99
     
       CHARGES OF NEW CHARGE DENSITY
:NTO   : INTERSTITIAL CHARGE  =     3.553067
:NPC   : INTERSTITIAL CHARGE  =     4.903848
:NTO001: CHARGE SPHERE   1    =    12.221780

:NEC01: NUCLEAR AND ELECTRONIC CHARGE     28.00000    27.99663
     
       CHARGES OF OLD CHARGE DENSITY
:OTO   : INTERSTITIAL CHARGE  =     3.559576
:OPC   : INTERSTITIAL CHARGE  =     4.927566
:OTO001: CHARGE SPHERE   1    =    12.220212

:NEC02: NUCLEAR AND ELECTRONIC CHARGE     28.00000    28.00000000
     
       CONVERGENCE TEST
:DTO001: DIFFERENCE IN SPHERE  1 =  0.0022292

:DIS  :  CHARGE DISTANCE      (  0.0022292 for atom    1 spin 1)      0.0022292
 
******************************************************
* Multisecant Mixing Release 10.8.4                  *
* Standard Mode with step bound                      *
* Multisecant MSR1 Algorithm                         *
* Regularization       2.000E-04                     *
* Minimum Greed        1.000E-03                     *
* Max Number of Memory Steps    8                    *
******************************************************
 

:FULLRMS/Atom   0.0451906459
:PLANE:  PW /ATOM     2.28431 DISTAN   6.37E-02 %  2.79E+00
:CHARG:  CLM/ATOM   115.36966 DISTAN   4.66E-03 %  4.04E-03

Step History
        Dmix         Dmixt        Red     Pred      Step      Lambda    MagAbs    Beta
  1   2.0358E-01   3.5000E-01  1.00E+00  1.00E+00  1.25E-01  1.00E+00  2.69E-03  1.00E+00
  2   2.0358E-01   3.5000E-02  9.65E-01  1.00E+00  1.25E-01  1.00E+00  2.69E-03  1.00E+00
  3   2.0358E-01   2.8577E-02  1.00E+00  8.60E-01  1.42E-01  1.00E+00  1.06E-02  1.00E+00
:NOTE :  Number of Memory Steps    2 Skipping    0

:PREDicted Charge, CTotal, PW Trust   4.08E-03   8.16E-03   2.65E-02
:PREDicted DMix, Beta, BLim           5.78E-01   1.00E+00   1.10E+00

Eigenvalues, unscaled except for SY+YY with Slambda=   1.00000 Ylambda=   1.00000
   #     SY Real       SY Imag         SS            YY        SY+YY Real     SY+YY Imag
   1   1.21003E-06   0.00000E+00   1.02122E+00   9.93310E-01   2.00000E+00   0.00000E+00
   2   1.00669E+00   0.00000E+00   6.11370E-07   3.31094E-06   4.52292E-06   0.00000E+00

:SING : Singular value  2.000E+00  Weight  1.000E+00  Projection  6.413E-02
:SING : Singular value  4.523E-06  Weight  1.278E-04  Projection -1.000E-04

:RANK :  ACTIVE   1.00/2  =  50.01 % ; YY RANK   1.00/2  =  50.00 %
:TRUST:  Step  2.8E-01 Charge  8.1E-03 (e) CTO  4.2E-02 (e) PW  6.3E-02 (e)
:DTRUS:  Lambda   2.604E+00 Increment   2.043E-14 Iterations    52 DMIX   9.219E-02
:DIRM :  MEMORY  2/8  RED  0.86 PRED  0.86 NEXT  0.73
:NOTE :  Limited by Atoms F by Step T

:DIRP : |MSR1|= 1.752E-02 |PRATT|= 6.374E-02 ANGLE=   0.9 DEGREES
:DIRQ : |MSR1|= 1.653E-03 |PRATT|= 4.661E-03 ANGLE=  22.4 DEGREES
:DIRT : |MSR1|= 1.760E-02 |PRATT|= 6.391E-02 ANGLE=   2.4 DEGREES
:MIX  :   MSE1   REGULARIZATION:  4.00E-04 GREED: 0.33930  LMStep 0.27  0.2754 Step           
     
       CHARGES OF MIXED CHARGE DENSITY
:CTO   : INTERSTITIAL CHARGE  =     3.558442
:CPC   : INTERSTITIAL CHARGE  =     4.922792
:CTO001: CHARGE SPHERE   1    =    12.220779

:NEC03: NUCLEAR AND ELECTRONIC CHARGE     28.00000    28.00000000

PW CHANGE     H    K    L      Current       Change    Residue
:PTO001:      0    0    0  3.07343948E-02 -2.141E-05 -8.044E-05
:PTO002:     -1   -1   -1 -6.36056387E-02  1.403E-04  5.410E-04
:PTO004:      0   -2   -2 -8.73376876E-03  3.863E-04  1.431E-03
:PTO005:     -1   -1   -3  2.04661066E-02  6.166E-04  2.238E-03
:PTO006:     -2   -2   -2  1.28282115E-02  7.080E-05  2.469E-04
:PTO007:      0    0   -4  5.32956434E-03  1.885E-04  6.765E-04
:PTO008:     -1   -3   -3  9.24922909E-04 -3.621E-04 -1.324E-03
:PTO010:     -2   -2   -4 -6.09891103E-03 -6.087E-04 -2.210E-03
:PTO011:     -3   -3   -3 -2.42496571E-03 -2.030E-04 -7.289E-04
:PTO012:     -1   -1   -5 -3.97096058E-03 -3.653E-04 -1.328E-03
:PTO013:      0   -4   -4 -9.43206576E-04 -2.042E-04 -7.431E-04
:PTO014:     -1   -3   -5 -3.40532766E-03 -6.657E-04 -2.402E-03

:ENE  : ********** TOTAL ENERGY IN Ry =        -1159.95939035

